@charset "utf-8";
/* CSS Document */

/* Reset start*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------Reset end-------------------------------------*/
body {
	font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

img {
	width: 150px;
	height: 100px;
	border-radius: 10px;
}

.section-title {
	font-size: 200%;
}

.main-section-title {
	font-size: 300%;
	text-align: center;
}

.character {
	display: inline-block;
	cursor: pointer;
	background-color: white;
	border-color: green;
	border-style: solid;
	border-width: 3px;
}

.character-image {
	padding-right: 16px;
	padding-left: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
	height: 200px;
}

.character-name {
	text-align: center;
}

.character-health {
	text-align: center;
}

#available-to-attack-section .character {
	display: inline-block;
	cursor: pointer;
	background-color: red;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.enemy {
	display: inline-block;
	cursor: pointer;
	background-color: red;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#action .character {
	color: white;
	background-color: black;
}

.target-enemy {
	color: white;
	background-color: black;
}

#selected-character {
	width: 190px;
	height: 160px;
}

#attacker {
	width: 190px;
	height: 160px;
}

#defender {
	width: 190px;
	height: 160px;
}

#defender-name {
	text-align: center;
}

#defender-health {
	text-align: center;
}

#choose-enemy-button {
	visibility: hidden;
}

#restart-button {
	visibility: hidden;
}

#turn-counter {
	font-size: 150%;
}

/*
body {
	background-image: url(../images/background.jpg);
}

img {
	width: 100%;
}

span {
width: 200px;

}

.container {
	width: 960px;
	height: 600px;
	border: 5px solid rgba(247, 243, 231, 0.938);
	border-radius: 10px;
	margin: auto;
	margin-top: 40px;
	background-image: url(../images/castle.png);
	background-size: 960px 600px;
}

.heroArea {
	width: 150px;
	height: 400px;
	float: right;
	margin-right: 50px;
}

.heroFront {
	float: left;
	margin-right: 20px;
}

.heroBack {
	float: right;
	margin-right: 20px;
}

.character {
	height: 50px;
	width: 50px;
	border: 3px solid rgb(253, 226, 71);
	margin: auto;

}

.kain {
	margin-top: 120px;
}

.cloud {
	margin-top: 180px;
}

.gilg {
	margin-top: 40px;
}

.golbez {
	margin-top: 60px;
}

.demonArea {
	width: 600px;
	height: 400px;
	float: left;
}

.menuArea {
	width: 940px;
	height: 180px;
	border: 5px solid rgba(247, 243, 231, 0.938);
	border-radius: 10px;
	margin: auto;
	margin-top: 402px;
	background: linear-gradient(60deg, rgb(26, 85, 161) 0%, rgba(17, 137, 207, 0.671) 35%);
}



.enemy {
	height: 320px;
	width: 320px;
	margin: auto;
	margin-top: 50px;

}

.button {
	height: 50px;
	width: 100px;
	border: 3px solid rgb(253, 226, 71);
	margin: auto;
	margin-top: 20px;
	text-align: center;
}


#moveset {
	height: 50px;
	width: 100px;
	border: 3px solid rgb(253, 226, 71);
	margin-left: 400px;
	margin-top: 20px;
}

.hitPoints{
	font-size: 1.8em;
	color: aliceblue;
	padding-left: 100px;
	padding-top: 40px;
}

#test {
	border: 4px solid rgb(255, 0, 157);
	height: 50px;
	width: 50px;
	border-top-left-radius: 100%;
}
*/